{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/cart/css/cart.css' %}">
    <link rel="stylesheet" href="{% static '/cart/js/cart.js' %}">
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <hr class="white-hr" id="top-hr">
                <div id="page-heading" class="col text-center">MY CART</div>
            <hr class="white-hr">
        </div>
    </div>
    {% if cart_products %}
        <table class="col-10 justify-content-center m-auto mb-2">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Sub-Total</th>
            </tr>
            {% for item in cart_products %}
            <tr>
                <td>
                    <div class="product-image-box px-auto mx-auto">
                        <img class="product-image my-1" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ item.product.name }}">
                    </div>
                </td>
                <td>
                    <p>{{ item.product.name }}</p>
                    <p class="mb-0">{{ item.product.category.friendly_name }}</p>
                </td>
                <td class="cart-price">
                    {% if item.product.is_offers_item %}
                        <p class="mb-1">£{{ item.product.price }}</p>
                        <p class="mb-0"><strike>£{{ item.product.striked_price }}</strike></p>
                    {% else %}
                        <p class="mb-0 prices">£{{ item.product.price }}</p>
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'alter_cart' item.product.id %}" method="POST" class="products-add">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <div class="quantity-box">
                                <button class="input-group-prepend btn btn-sm btn-black rounded-0" name="decrease-quantity">
                                    <i class="fas fa-minus"></i>
                                </button>
                                <input class="quantity-middle pl-2" value="{% find_quantity cart_products item.product.id %}" type="number" min="1" max="99" name="quantity" data-product_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                <button class="input-group-append btn btn-sm btn-black rounded-0" name="increase-quantity">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <button id="remove_all_of_item_cart" name="remove_all_of_item_cart">Remove all</button>
                        </div>
                    </form>
                </td>
                <td>
                    <div>
                        <p class="total-price mb-0">£{% find_item_subtotal cart_products item.product.id %}</p>
                    </div>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td class="total grand-total">Total:</td>
                <td class="grand-total">£{{ total }}</td>
            </tr>
        </table>
        <div class="col-10 fifty-mb">
            <div class="d-inline float-right cart-buttons mt-3 mb-3">
                <a class="btn bg-dark rounded-0 text-white" href="{% url 'products' %}"><p class="mb-1 d-inline">&#60;</p> <p id="back" class="d-inline">Back to Products</p></a>
                <a class="btn bg-dark-electric-blue rounded-0 text-white" href="{% url 'checkout' %}"><p class="d-inline">Secure Payment</p></a>
            </div>
        </div>
    {% else %}
        <p>There are currently no products in your cart.</p>
    {% endif %}

    <input type="hidden" id="refreshed" value="false">
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
        $(window).on('load', function(){
            if ($('#refreshed').val() == "false") {
            $('#refreshed').val("true"); 
            }
            else {
            $('#refreshed').val("false");
            location.reload(true);
            }
        });
    </script>
{% endblock %}