{% extends "base.html" %}
{% load static %}
{% load custom_filters %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'cart/css/cart.css' %}">
{% endblock %}
{% block content %}
<div class="container header-container">
  <div class="row" id="top-row">
    <hr>
    <div id="page-heading" class="col text-center">MY CART</div>
    <hr>
  </div>
  {% if cart_products %}
  <table class="col-12 justify-content-center m-auto mb-2">
    <tr class="headings-tr">
      <th>Image</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
      <th class="sub">Sub-Total</th>
    </tr>
    {% for item in cart_products %}
    <tr>
      <td>
        <div class="product-image-box px-auto mx-auto">
          {% if item.product.main_image %}
          <a
            class="product-image image-cont m-auto my-1"
            href="{% url 'product_information' product_id=item.product.pk %}">
            <img
              class="product-img"
              src="{{ MEDIA_URL }}{{ item.product.main_image }}"
              alt="{{ item.product.name }}">
          </a>
          {% elif item.product.image %}
          <a
            class="product-image image-cont m-auto my-1"
            href="{% url 'product_information' product_id=item.product.pk %}">
            <img
              class="product-img"
              src="{{ MEDIA_URL }}{{ item.product.image }}"
              alt="{{ item.product.name }}">
          </a>
          {% else %}
          <a
            class="product-image image-cont m-auto my-1"
            href="{% url 'product_information' product_id=item.product.pk %}">
            <img
              class="product-img"
              src="{{ MEDIA_URL }}no-image.png"
              alt="{{ item.product.name }}">
          </a>
          {% endif %}
        </div>
      </td>
      <td class="medium-padding">
        <a
          class="product-image m-auto my-1"
          href="{% url 'product_information' product_id=item.product.pk %}">
          <p class="product-name-target small-centralisation name-small">
            {{ item.product.name }}
          </p>
        </a>
        <p class="mb-1 small-centralisation cat-small">
          {{ item.product.category.friendly_name }}
        </p>
        {% if item.product.is_hire_room %}
        <div class="row flex-row">
          <div class="col-5-5 col-md-2 text-center text-md-left p-0">
            <p class="text-right text-md-left mb-0">Date:</p>
          </div>
          <div class="col-6-5 col-md-10">
            <p class="mb-0">{{ item.date }}</p>
          </div>
        </div>
        <div class="row flex-row">
          {% if item.time|length == 1 %}
          <div class="col-5-5 col-md-2 text-center text-md-left p-0">
            <p class="text-right text-md-left">Time:</p>
          </div>
          <div class="col-6-5 col-md-10">
            <p class="mb-0">
              {% for time in item.time %}{{ time }}{% endfor %}
            </p>
          </div>
          {% else %}
          <div class="col-5-5 col-md-2 text-center text-md-left p-0">
            <p class="text-right text-md-left">Times:</p>
          </div>
          <div class="col-6-5 col-md-10 mb-2 mb-md-0">
            {% for time in item.time %}
            <p class="mb-0">{{ time }}</p>
            {% endfor %}
          </div>
          {% endif %}
        </div>
        {% endif %}
      </td>
      <td class="cart-price small-centralisation">
        {% if item.product.is_offers_item %}
        <p class="mb-1">£{{ item.product.price }}</p>
        <p class="mb-0"><strike>£{{ item.product.striked_price }}</strike></p>
        {% else %}
        <p class="mb-0 prices">£{{ item.product.price }}</p>
        {% endif %}
        <p class="d-md-none ml-2">x</p>
        <form
          action="{% url 'alter_cart' item.product.id %}"
          method="POST"
          class="products-add d-md-none">
          {% csrf_token %}
          <div class="input-group">
            <input type="hidden" name="date" value="{{ item.date }}">
            <input
              type="hidden"
              name="redirect_url"
              value="{{ request.path }}">
            <div class="quantity-box">
              <button
                aria-label="decrease quantity"
                class="input-group-prepend btn btn-sm btn-black rounded-0"
                name="decrease-quantity">
                <i class="fas fa-minus"></i>
              </button>
              {% if item.product.is_hire_room %}
              <input
                aria-label="quantity"
                class="quantity-middle"
                value="{% find_quantity cart_products item.product.id item.date item.time %}"
                type="number"
                min="1"
                max="99"
                name="quantity"
                data-product_id="{{ product.id }}"
                id="id_qty_{{ product.id }}_sm">
              <button
                aria-label="increase quantity"
                class="input-group-append btn btn-sm btn-black rounded-0"
                name="increase-quantity"
                disabled>
                <i class="fas fa-plus"></i>
              </button>
              {% else %}
              <input
                aria-label="quantity"
                class="quantity-middle"
                value="{% find_quantity cart_products item.product.id none none %}"
                type="number"
                min="1"
                max="99"
                name="quantity"
                data-product_id="{{ product.id }}"
                id="id_qty_{{ product.id }}_sm">
              <button
                aria-label="increase quantity"
                class="input-group-append btn btn-sm btn-black rounded-0"
                name="increase-quantity">
                <i class="fas fa-plus"></i>
              </button>
              {% endif %}
            </div>
            <button class="remove_all_of_item_cart" name="remove_all_of_item_cart">
              Remove all
            </button>
          </div>
        </form>
      </td>
      <td>
        <form
          action="{% url 'alter_cart' item.product.id %}"
          method="POST"
          class="products-add d-none d-md-block">
          {% csrf_token %}
          <div class="input-group">
            <input type="hidden" name="date" value="{{ item.date }}">
            <input
              type="hidden"
              name="redirect_url"
              value="{{ request.path }}">
            <div class="quantity-box">
              <button
                class="input-group-prepend btn btn-sm btn-black rounded-0"
                name="decrease-quantity"
                aria-label="decrease quantity" >
                <i class="fas fa-minus"></i>
              </button>
              {% if item.product.is_hire_room %}
              <input
                class="quantity-middle"
                value="{% find_quantity cart_products item.product.id item.date item.time %}"
                type="number"
                min="1"
                max="99"
                name="quantity"
                data-product_id="{{ product.id }}"
                id="id_qty_{{ product.id }}"
                aria-label="quantity" >
              <button
                class="input-group-append btn btn-sm btn-black rounded-0"
                name="increase-quantity"
                aria-label="increase quantity" 
                disabled>
                <i class="fas fa-plus"></i>
              </button>
              {% else %}
              <input
                class="quantity-middle"
                value="{% find_quantity cart_products item.product.id none none %}"
                type="number"
                min="1"
                max="99"
                name="quantity"
                data-product_id="{{ product.id }}"
                id="id_qty_{{ product.id }}"
                aria-label="quantity" >
              <button
                class="input-group-append btn btn-sm btn-black rounded-0"
                name="increase-quantity"
                aria-label="increase quantity" >
                <i class="fas fa-plus"></i>
              </button>
              {% endif %}
            </div>
            <button class="remove_all_of_item_cart" name="remove_all_of_item_cart">
              Remove all
            </button>
          </div>
        </form>
      </td>
      <td>
        <div class="d-flex justify-content-center">
          <p class="d-md-none mr-2">Subtotal:</p>
          <p class="total-price mb-0 small-centralisation">
            £{% find_item_subtotal cart_products item.product.id %}
          </p>
        </div>
      </td>
    </tr>
    {% endfor %}
    <tr class="total-row py-1">
      <td></td>
      <td></td>
      <td></td>
      <td class="total grand-total">Total:</td>
      <td class="grand-total">£{{ total }}</td>
    </tr>
  </table>
  <div class="row d-flex flex-row-reverse">
    <button
      type="button"
      class="p-1 px-2 mt-2 mr-3 empty_cart"
      data-toggle="modal"
      data-target="#emptyCart">
      Empty Cart
    </button>

    <div
      class="modal fade"
      id="emptyCart"
      tabindex="-1"
      role="dialog"
      aria-labelledby="emptyCartLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="emptyCartLabel">Delete Product</h5>
            <button
              type="button"
              class="close mr-2"
              data-dismiss="modal"
              aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete this product?</p>
            <p>This action cannot be undone.</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn bg-black rounded-0"
              data-dismiss="modal">
              Close
            </button>
            <form action="{% url 'empty_cart' %}" method="POST">
              {% csrf_token %}
              <button
                class="p-1 px-2 modal-empty empty_cart"
                name="empty_cart"
                data-toggle="modal"
                data-target="#emptyCart">
                Empty Cart
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 fifty-mb">
    <div class="d-flex float-right mt-3 mb-3 flex-row">
      <a
        id="back-to-products"
        class="bg-black rounded-0 p-1 px-2 d-flex mr-1"
        href="{% url 'products' %}"
        ><p class="mb-1 back-mark">&#60;</p>
        <p id="back" class="d-inline mb-0">Back</p>
        <p class="mb-0 d-none d-md-inline ml-1">to Products</p></a>
      <a
        class="btn bg-darkblue rounded-0 p-1 px-2 ml-1"
        href="{% url 'checkout' %}"
        ><p class="mb-0 d-none d-md-inline">Secure</p>
        <p class="d-inline mb-0">Payment</p>
        <i class="ml-1 fas fa-lock"></i></a>
    </div>
  </div>
  {% else %}
  <p>There are currently no products in your cart.</p>
  {% endif %}

  <input type="hidden" id="refreshed" value="false">
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script rel="text/javascript" src="{% static 'cart/js/cart.js' %}"></script>
{% endblock %}
