{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/cart/css/cart.css' %}">
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <hr class="white-hr" id="top-hr">
                <div id="page-heading" class="col text-center">MY CART</div>
            <hr class="white-hr">
        </div>
    </div>
    {% if cart_products %}
        <table class="col-10 justify-content-center m-auto">
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            {% for item in cart_products %}
            <tr>
                <td>
                    <div class="product-image-box px-auto mx-auto">
                        <img class="product-image my-1" src="{{ MEDIA_URL }}{{ item.product.image }}" alt="{{ item.product.name }}">
                    </div>
                </td>
                <td>
                    <p>{{ item.product.name }}</p>
                    <p>{{ item.product.category.friendly_name }}</p>
                </td>
                <td>
                    <div class="quantity-box mb-3">
                        <div class="input-group-prepend"><i class="fas fa-minus"></i></div>
                        <input class="quantity-middle pl-2" value="{% find_quantity cart_products item.product.id %}" type="number" min="1" max="99" name="quantity" data-product_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                        <div class="input-group-append"><i class="fas fa-plus"></i></div>
                    </div>
                </td>
                <td>
                    {% if item.product.is_offers_item %}
                        <p>{{ item.product.striked_price }}</p>
                    {% else %}
                        <p>{{ item.product.price }}</p>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>There are currently no products in your cart.</p>
    {% endif %}

{% endblock %}
