{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/home/css/home.css' %}">
{% endblock %}

{% block content %}
    <div class="background-image">
        <div class="row justify-content-center">
            <div class="col-6 index-message-box mb-2 pt-3">
                <p class="text-white text-center">Finally hit that next level in music with us!</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="row">
                    <div class="col-4 text-center h-100">
                        <div class="index-button-box m-auto">
                            <a href="{% url 'record_studio_home' %}" class="h-100 w-100 d-block main-buttons text-white">
                                <p class="mb-2 pt-2">Record</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 text-center h-100">
                        <div class="index-button-box m-auto">
                            <a href="{% url 'rehearse_home' %}" class="h-100 w-100 d-block main-buttons text-white">
                                <p class="mb-2 pt-2">Rehearse</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-4 text-center h-100">
                        <div class="index-button-box m-auto">
                            <a href="{% url 'shop_home' %}" class="h-100 w-100 d-block main-buttons text-white">
                                <p class="mb-2 pt-2">Shop</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row overflow-hidden">
        <div class="little-strings bg-dark-electric-blue text-white justify-content-center col">
            <h2 class="my-auto">In partnership with </h2>
            <a class="ls-logo" href="https://ryanmcnally93.github.io/project-two-little-strings/">
                <img id="ls-logo" src="{{ MEDIA_URL }}little-strings-logo.png" alt="Little Strings Logo">
            </a>
        </div>
    </div>
{% endblock %}
