/* Extra Large Screens */

@media (min-width: 1501px) {
    .background-image {
        background-size: 100% !important;
    }
}

/* Large Screens */

.background-image {
    background: url('/media/about-main.webp') no-repeat center center;
    width: 100%;
    height: 700px;
    border-bottom: 1px solid white;
    background-size: 1500px;
} 

#location {
    height: 350px;
    border: 1px solid black;
}

.header-container {
    height: 700px;
}

#about-row {
    height: 67.7%;
}

#about-box {
    background-color: rgb(3, 58, 84, 0.8);
    border: none;
    border-radius: 0;
    position: absolute;
}

/* Medium Screens */

@media (min-width: 768px) and (max-width: 991px) {
    .background-image {
        background: url('/media/about-main.webp') no-repeat center center;
        width: 100%;
        height: 500px;
        border-bottom: 1px solid white;
        background-size: 991px;
    }
    #about-row {
        height: 45.7% !important;
    }
    #about-box {
        font-size: 16px;
    }
}

/* Mobile Screens */

@media (max-width: 768px) {
    #contact-row {
        flex-direction: column-reverse;
        display: flex;
    }
}

@media (max-width: 767px) {
    .background-image {
        background: url('/media/about-main.webp') no-repeat center center;
        width: 100%;
        height: 500px;
        border-bottom: 1px solid white;
        background-size: 768px;
    }
    #about-row {
        height: 40.7% !important;
    }
    #about-box {
        font-size: 12px;
    }
}