.background-image {
    background: url('/media/index-main.webp') no-repeat center center;
    width: 100%;
    height: 700px;
    border-bottom: 1px solid white;
    padding-top: 35%;
} 

#ls-logo {
    height: 200px;
    position: absolute;
    top: -38px;
    /* Needs hover qualities */
}

.little-strings {
    height: 128px;
    display: inherit;
}

.ls-logo {
    width: 200px;
    border: 2px solid #033A54;
}

.ls-logo:hover {
    background-color: white;
}

.index-button-box {
    border: 2px solid white;
    width: 200px;
    font-size: 32px;
}

@media (max-width: 767px) {
    .index-button-box {
        width: 100px !important;
        font-size: 16px !important;
        padding-top: 3px;
    }
}

.index-message-box {
    background-color: rgb(3, 58, 84, 0.8);
    font-size: 20px;
}