{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row" id="top-row">
            <hr>
                <div id="page-heading" class="col text-center">MY PROFILE</div>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <p class="mb-3 font-weight-bold">Default Billing</p>
                <form action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="bg-darkblue p-1 px-2 mb-4" type="submit">Update Information</button>
                </form>
            </div>
            <div class="col-lg-6">
                <p class="hist font-weight-bold">Order History</p>
                <table class="w-100 mb-4">
                    <tr>
                        <th class="col-4 p-0">Order Number</th>
                        <th class="col-4 p-0">Order Cost</th>
                        <th class="col-4 p-0">Order Date</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td class="col-4 p-0"><a href="{% url 'order_history' order.order_number %}">{{ order.order_number|truncatechars:8 }}</a></td>
                        <td class="col-4 p-0">£{{ order.total_cost }}</td>
                        <td class="col-4 p-0">{{ order.date.date|date:"d-m-Y" }}</td>
                    </tr>
                    {% for item in order.lineitems.all %}
                    {% endfor %}
                {% endfor %}
                </table>
            </div>
        </div>
    </div>


{% endblock %}

{% block postloadjs %}
    {{ block.super }}
{% endblock %}