{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}
    <div class="background-image">
        <div class="container header-container">

            <div class="row" id="top-row">
                <hr class="white-hr">
                    <div id="page-heading" class="col white-heading text-center text-white">THANKS FOR YOUR ORDER!</div>
                <hr class="white-hr">
            </div>

            <div id="check-succ-row" class="row justify-content-center position-relative align-items-center">
                <div id="check-succ-box" class="pt-3 col-10 col-md-8 text-center text-white mx-auto pb-3">
                    <p class="mb-2 m-auto">Your order number is <strong id="order-number">{{ order.order_number }}</strong>.</p>
                    <p class="mb-2">A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
                    {% if from_profile %}
                        <a id="successful-back-to" class="bg-black rounded-0 text-white mb-3 p-1 px-2" href="{% url 'profile' %}"><p class="mb-1 d-inline">&#60;</p> <p id="back" class="d-inline">Back to Profile</p></a>
                    {% else %}
                        <a id="successful-back-to" class="bg-black rounded-0 text-white mb-3 p-1 px-2" href="{% url 'products' %}"><p class="mb-1 d-inline">&#60;</p> <p id="back" class="d-inline">Back to Products</p></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-2"></div>
        <div class="col-8">
            <p class="mt-2">{{ date }}</p>
            <p>Customer Details:</p>
            <p class="mb-0">{{ order.full_name }}</p>
            <p class="mb-0">{{ order.street_address1 }},</p>
            {% if order.street_address2 %}
                <p class="mb-0">{{ order.street_address2 }},</p>
            {% endif %}
            <p class="mb-0">{{ order.town_or_city }},</p>
            <p>{{ order.postcode }},</p>
            <p>Order:</p>
            <div class="d-block">
                {% for item in order.lineitems.all %}
                    <p class="mb-0 d-inline">{{ item.product.name }} x {{ item.quantity }}</p><p class="mb-0 float-right d-inline">{{ item.line_item_total }}</p>
                {% endfor %}
            </div>
            <div class="d-block mt-2">
                <p class="d-inline"><strong>Total cost: </strong></p><p class="d-inline float-right"><strong>{{ order.total_cost }}</strong></p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
   
{% endblock %}