.hist {
    margin-bottom: 0.7rem;
}

@media (max-width: 430px) {
    .profile-buttons {
        flex-direction: column-reverse;
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    #update {
        margin-bottom: 10px;
    }
}