/* Large Screens */

.product-image-box {
    height: 260px;
    align-items: center;
    display: flex;
} 

.product-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
}

.product-img {
    height: 234px;
}

.product-name-target {
    color: #033A54;
    text-decoration: none;
}

.input-group-prepend, .input-group-append {
    border: 1px solid #033A54;
    padding: 0;
    color: #033A54;
}

#empty_cart {
    background-color: red;
    color: white;
}

.modal-empty {
    height: 38px;
}

#empty_cart {
    background-color: red !important;
    color: white !important;
    border: 1px solid red;
}

a#empty_cart {
    height: 34px;
    display: inline-block;
}

a#empty_cart:hover,
button#empty_cart:hover {
    background-color: white !important;
    color: red !important;
    border: 1px solid red;
    text-decoration: none;
}

.input-group {
    width: 90%;
}

.fa-minus, .fa-plus {
    margin: auto;
}

#remove_all_of_item_cart {
    background-color: white;
    color: red;
    border: none;
    margin: auto;
    font-size: 10px;
    bottom: -15px;
}

#remove_all_of_item_cart:hover {
    text-decoration: underline;
}

.btn-sm {
    padding: 0.15rem 0.3rem !important;
}

#back {
    vertical-align: middle;
}

/*Cart.html*/
.total {
    padding-left: 50px;
}

.grand-total {
    font-weight: 700;
}

.fifty-mb {
    margin-bottom: 50px !important;
}

.quantity-box {
    width: 80%;
    flex-direction: row;
    display: flex;
    margin: auto;
}

.quantity-middle {
    width: 100%;
    text-align: center;
    border: 1px solid #033A54;
}

.cart-price {
    vertical-align: middle;
}

/* Remove Arrows on Input box */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input-group-prepend:hover, .input-group-append:hover {
    border: 1px solid white;
    background-color: #033A54;
    color: white;
    cursor: pointer;
}

.input-group-append:disabled:hover {
    border: 1px solid #033A54;
    padding: 0;
    color: #033A54;
    background-color: white;
    cursor: default;
}

.back-mark {
    display: inline;
    margin: -1px 3px 0 0;
}

.cat-small {
    font-style: italic;
}

/* Medium Screens */

@media (min-width: 768px) and (max-width: 991px) {
    .medium-padding {
        padding-left: 10px;
    }
    th.sub {
        width: 75px;
    }
}

/* Mobile Screens */

@media (max-width: 767px) {
    tr {
        display: flex;
        flex-direction: column;
    }
    .prices {
        margin-left: 12px;
    }
    .headings-tr {
        display: none !important;
    }
    .small-centralisation {
        text-align: center;
    }
    .cat-small {
        margin-bottom: 0.75rem !important;
    }
    .input-group {
        width: 120px;
        margin: auto;
    }
    #remove_all_of_item_cart {
        margin-top: 5px;
    }
    .cart-price {
        display: inline-flex;
        justify-content: center
    }
    .name-small {
        margin-bottom: 0;
    }
    .total {
        padding-left: 0;
        margin-right: 0.5rem;
    }
    .total-row {
        flex-direction: row;
        justify-content: center;
        border-top: 1px solid #033A54;
        border-bottom: 1px solid #033A54;
        width: 50%;
        margin: auto;
    }
    .row.d-flex.flex-row-reverse {
        justify-content: center;
    }
    .fifty-mb {
        justify-content: center;
        display: flex;
        margin-bottom: 20px
    }
    #empty_cart {
        margin: 15px 0 0 0 !important;
    }
    .col-6-5 {
        -ms-flex: 0 0 54%;
        flex: 0 0 54%;
        max-width: 54%;
    }
    
    .col-5-5 {
        -ms-flex: 0 0 46%;
        flex: 0 0 46%;
        max-width: 46%;
    }
}

@media (max-width: 450px) {
    .product-image-box {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}