@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300;400;500;600;700&family=Ysabeau+Infant:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

/* STICKY FOOTER https://stackoverflow.com/questions/18739937/how-to-keep-footer-at-bottom-of-screen */

html, body {
    height: 100%; 
}

* {
    margin: 0;
    padding: 0;
}

#id_login, #id_password {
    border-radius: 0;
}

input {
    border-radius: 0 !important;
}

label.requiredField {
    display: none;
}

#all-auth-image-box {
    height: 500px;
    overflow: hidden;
}

#all-auth-image {
    top: -140px;
    position: absolute;
}

#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 72px;
}
  
#footer {
    position: relative;
    margin-top: -72px;
    clear: both;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.stripe-style-input {
    border-radius: 0;
}

/* Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.toast {
    opacity: 1;
    border: 1px solid #282C2E;
    border-top: 1px solid white;
}

.close {
    opacity: 1;
}

.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

.close:hover {
    text-decoration: underline;
}

/* Main Buttons */

.bg-black {
    background-color: #282C2E !important;
    color: white !important;
    border: 1px solid #282C2E;
}

a.bg-black {
    height: 34px;
    display: inline-block;
}

a.bg-black:hover,
button.bg-black:hover {
    background-color: white !important;
    color: #282C2E !important;
    border: 1px solid #282C2E;
    text-decoration: none;
}

.bg-darkblue {
    background-color: #033A54 !important;
    color: white !important;
    border: 1px solid #033A54;
}

a.bg-darkblue:hover,
button.bg-darkblue:hover,
#loadFileXml:hover {
    background-color: white !important;
    color: #033A54 !important;
    border: 1px solid #033A54;
    text-decoration: none;
}

#record-link:hover,
#rehearse-link:hover,
#shop-link:hover,
#offers-link:hover,
#about-link:hover {
    background-color: white;
    color: #033A54 !important;
}

#about-link,
#record-link,
#rehearse-link,
#shop-link,
#offers-link {
    padding-top: 16px;
    height: 56px;
}

.navbar {
    height: 56px;
    padding: 0;
}

@media (max-width: 991px) {
    .navbar {
        height: 72px;
    }
    #cart-a, #user-options {
        padding-top: 10px;
    }
    #mobile-top-navbar {
        background-color: #282C2E !important;
    }
    .list-inline-item:not(:last-child) {
        margin-right: 0;
    }
}

/* Others */

#back-to-products {
    padding-top: 3px !important;
}

#about-box {
    margin-top: 120px;
    background-color: rgb(3, 58, 84, 0.8);
    border: none;
    border-radius: 0;
}

.cart-notifications {
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.fa-check {
    color: #28a745;
    left: 0;
    margin: 0 56% 0 0;
    font-size: 18px;
}

.fa-xmark {
    color: #dc3545;
    left: 0;
    margin: 0 56% 0 0;
    font-size: 18px;
}

.fa-info {
    color: #17a2b8;
    left: 0;
    margin: 0 56% 0 0;
    font-size: 18px;
}

.fa-exclamation {
    color: #ffc107;
    left: 0;
    margin: 0 56% 0 0;
    font-size: 18px;
}

/* Toast arrow */

.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

/* END OF STICKY FOOTER */

body {
    font-family: 'Raleway';
}

.logo {
    color: white;
    width: fit-content;
    display: block;
    text-shadow: 0 5px 3px rgba(255,255,255, 0.5)
}

.logo:hover {
    border-bottom: 2px solid white;
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    margin: 0.125rem -23px 0;
    border: 1px solid #033A54;
}

.dropdown-item:hover {
    color: white;
    background-color: #033A54;
}

.footer-link {
    border-bottom: 2px solid #282C2E;
}

#my-account, #cart {
    border-bottom: 2px solid #282C2E;
}

.footer-link:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

#footer {
    height: 72px;
}

.footer-p {
    font-size: 16px;
    line-height: 19px;
}

.footer-m {
    font-size: 16px;
    line-height: 27px;
}

.socials {
    font-size: 32px;
}

#top-row {
    padding-top: 135px;
}

hr {
    width: 100%;
    color: black;
}

.white-hr {
    color: white !important;
    border-top: 1px solid rgb(255,255,255,0.7) !important;
}

.white-heading {
    background-color: rgb(0, 0, 0, 0.3);
}

.fa-bars {
    font-size: 32px;
}

#page-heading {
    /*Nothing yet*/
}