@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Raleway:wght@300;400;500;600;700&family=Ysabeau+Infant:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap");

body {
    font-family: 'Raleway';
}

.logo {
    color: white;
    width: fit-content;
    display: block;
    text-shadow: 0 5px 3px rgba(255,255,255, 0.5)
}

.logo:hover {
    border-bottom: 2px solid white;
    color: white;
    text-decoration: none;
}

.dropdown-menu {
    margin: 0.125rem -23px 0;
}

.bg-dark {
    background-color: #282C2E !important;
}

.footer-link {
    border-bottom: 2px solid #282C2E;
}

#my-account, #cart {
    border-bottom: 2px solid #282C2E;
}

.footer-link:hover {
    border-bottom: 2px solid white;
    cursor: pointer;
}

#footer {
    height: 72px;
}

.footer-p {
    font-size: 16px;
    line-height: 19px;
}

.socials {
    font-size: 32px;
}

.bg-dark-electric-blue {
    background-color: #033A54;
}

.border-deb {
    border: 1px solid #033A54;
}

.fa-bars {
    font-size: 32px;
}
