/* Large Screens */

label.requiredField {
    display: block;
}

.pointer {
    cursor: pointer;
}

.hide-input-behind-custom-input {
    position: absolute;
    left: 36px;
    z-index: -1;
    height: 26px;
} 

#searchbar {
    display: flex;
    flex-direction: row;
}

#manage-products-image-box {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.hide-upload-input-behind-custom-input {
    position: absolute;
    left: 32px;
    z-index: -1;
    height: 26px;
}

#loadFileXml {
    border-radius: 0;
    border: 2px solid #033A54;
}

#loadFileXml:hover {
    border: 2px solid #033A54 !important;
}

#invisible-toggler {
    float: right;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* Medium and Large Screens */

@media (min-width: 768px) {
    #search-button {
        float: right;
    }
}

/* Mobile Screens */

@media (max-width: 767px) {
    #searchbar {
        flex-direction: column;
    }
    #product-id {
        margin-bottom: 10px !important;
    }
    #search-button {
        margin-bottom: 10px;
    }
}