label.requiredField {
    display: block;
}

.pointer {
    cursor: pointer;
}

.hide-input-behind-custom-input {
    position: absolute;
    left: 36px;
    z-index: -1;
    height: 26px;
} 

.hide-upload-input-behind-custom-input {
    position: absolute;
    left: 32px;
    z-index: -1;
    height: 26px;
}

#loadFileXml {
    border-radius: 0;
    border: 2px solid #033A54;
}

#loadFileXml:hover {
    border: 2px solid #033A54 !important;
}

#invisible-toggler {
    float: right;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
}