.product-image-box {
    height: 260px;
    align-items: center;
    display: flex;
}

.product-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
}

#select_container {
    height: 30px;
    padding-right: 30px;
}

.timeline-button {
    padding: 5px 10px;
}

.enabled-timeline-button {
    border: 2px solid #033A54;
    color: #033A54;
    background-color: white;
}

.timeline {
    width: 100%;
    margin-bottom: 20px;
}

.enabled-timeline-button:hover {
    border: 2px solid white;
    color: white;
    background-color: #033A54;
}

.card {
    height: 480px;
    overflow: hidden;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.product-info, .product-title {
    color: black;
    text-decoration: none;
}

.product-title:hover {
    color: blue;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.product-infopage-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

a.bg-dark:hover {
    background-color: white !important;
    color: #282C2E !important;
    border: 1px solid #282C2E;
}

a.bg-dark-electric-blue:hover {
    background-color: white !important;
    color: #033A54 !important;
    border: 1px solid #033A54;
}

a.bg-dark-electric-blue, a.bg-dark {
    border: 1px solid white;
}

a.bg-dark-electric-blue {
    width: 150px;
}

#back {
    vertical-align: middle;
}