.product-image-box {
    height: 260px;
    align-items: center;
    display: flex;
}

.product-image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
}

#select_container {
    height: 30px;
    padding-right: 30px;
}

.input-group-prepend, .input-group-append {
    border: 1px solid #033A54;
    padding: 5px;
    color: #033A54;
}

.products-add {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.add {
    width: 70%;
    margin: auto;
}

#to-cart {
    display: none;
    margin: none;
}

@media (min-width: 768px) {
    #to-cart {
        display: inline;
    }
}

.products-add-button {
    width: 70%;
    padding-left: 5px;
}

.category {
    font-style: italic;
}

.quantity-box {
    width: 70%;
    flex-direction: row;
    display: flex;
    margin: auto;
    padding-bottom: 5px;
}

.quantity-box-information {
    width: 100px;
    flex-direction: row;
    display: flex;
    margin: auto;
    margin-left: 5px;
}

.quantity-middle {
    width: 100%;
    padding-left: 5px;
}

/* Remove Arrows on Input box */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.input-group-prepend:hover, .input-group-append:hover {
    border: 1px solid white;
    padding: 5px;
    background-color: #033A54;
    color: white;
    cursor: pointer;
}

.timeline-button {
    padding: 5px 10px;
}

.enabled-timeline-button {
    border: 2px solid #033A54;
    color: #033A54;
    background-color: white;
}

.timeline {
    width: 100%;
    margin-bottom: 20px;
}

.enabled-timeline-button:hover {
    border: 2px solid white;
    color: white;
    background-color: #033A54;
}

.card {
    height: 480px;
    overflow: hidden;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}

.product-info, .product-title {
    color: black;
    text-decoration: none;
}

.product-title:hover {
    color: blue;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

.product-infopage-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
}

a.bg-dark:hover {
    background-color: white !important;
    color: #282C2E !important;
    border: 1px solid #282C2E;
}

a.bg-dark-electric-blue:hover, button.bg-dark-electric-blue:hover {
    background-color: white !important;
    color: #033A54 !important;
    border: 1px solid #033A54;
}

a.bg-dark-electric-blue, a.bg-dark {
    border: 1px solid white;
}

a.bg-dark-electric-blue {
    width: 150px;
}

#back {
    vertical-align: middle;
}