<div class="collapse navbar-collapse" id="mainnavbar">
    <ul class="navbar-nav m-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">
                <a href="#" class="dropdown-item">About Us</a>
                <a href="#" class="dropdown-item">Contact Us</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="record-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Record
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="record-link">
                <a href="#" class="dropdown-item">Record Main</a>
                <a href="#" class="dropdown-item">Meet the Engineers</a>
                <a href="#" class="dropdown-item">Studio by Rating</a>
                <a href="#" class="dropdown-item">Studio by Price</a>
                <a href="#" class="dropdown-item">All Studios</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="rehearse-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Rehearse
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="rehearse-link">
                <a href="#" class="dropdown-item">Rehearsals Main</a>
                <a href="#" class="dropdown-item">Rooms by Rating</a>
                <a href="#" class="dropdown-item">Rooms by Price</a>
                <a href="#" class="dropdown-item">All Rooms</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="shop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shop-link">
                <a href="#" class="dropdown-item">Shop Main</a>
                <a href="#" class="dropdown-item">Strings</a>
                <a href="#" class="dropdown-item">By Rating</a>
                <a href="#" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Shop Items</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white" href="#" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-link">
                <a href="#" class="dropdown-item">Sale Items</a>
            </div>
        </li>
    </ul>
</div>
