<div class="col-3 pl-3 d-lg-none">
    <button onmouseover="mouseOverTg()" onmouseout="mouseOutTg()" id="toggler" class="navbar-toggler navbar-dark align-items-center d-flex" type="button" data-toggle="collapse" data-target="#mainnavbar" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa-solid fa-bars" id="bars"></i>
    </button> 
</div>
<div class="col-3 d-lg-none mobile-logo-box d-flex justify-content-center">
    <a href="{% url 'home' %}" id="small-logo">
        <img id="small-logo-img" src="{{ MEDIA_URL }}logo-small.png" alt="The Ascension Logo">
    </a>
</div>
<div class="col-3 d-lg-none mt-1 d-flex justify-content-center">
    <li class="list-inline-item dropdown align-items-center d-flex">
        <a onmouseover="mouseOverSm()" onmouseout="mouseOutSm()" class="d-block d-lg-none nav-link text-center" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="closeToast()">
            <i class="fa-solid fa-user fa-lg text-white"></i>
            <!-- Change this to the profile image similar to what was done in last project, was really effective -->
            <!-- Make same width and height as cart icon and text -->
            {% if request.user.is_authenticated %}
                <p id="my-account-sm" class="my-0 text-white">{{ request.user.username }}</p>
            {% else %}
                <p id="my-account-sm" class="my-0 text-white">My Account</p>
            {% endif %}
        </a>
        <div class="dropdown-menu rounded-0" aria-labelledby="user-options">
            <!-- Use jquery to make this slide down -->
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Add a Product</a>
                    <a href="{% url 'edit_product' %}" class="dropdown-item">Edit a Product</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>
</div>
<div class="col-3 d-lg-none d-flex justify-content-end">
    <li class="list-inline-item align-items-center d-flex pt-1">
        <a id="cart-a-sm" onmouseover="mouseOverCartSm()" onmouseout="mouseOutCartSm()" class="d-block d-lg-none nav-link text-center" href="{% url 'view_cart' %}">
            <div><i class="fas fa-shopping-cart fa-lg text-white"></i></div>
            <p id="cart-sm" class="my-0 text-white">
                {% if total %}
                    £{{ total }}
                {% else %}
                    £0.00
                {% endif %}
            </p>
        </a>
    </li>
</div>
