{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block all_auth_header %}
<div class="row">
    <div class="col-lg-6">
        <h1 class="mb-4">{% trans "Sign In" %}</h1>

        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a id="signup-link" href="{{ signup_url }}">sign up</a>
        for an <strong>Ascension</strong> account and sign in below:{% endblocktrans %}</p>

        <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
        <div class="login-or mb-3">{% trans 'or' %}</div>
        </div>

        {% include "socialaccount/snippets/login_extra.html" %}

        {% else %}
        <p class="mt-1 mb-3 d-inline">Don't have an account yet?</p>
        <a class="bg-darkblue py-2 px-2 d-inline ml-2" href="{{ signup_url }}">{% trans "Sign Up" %}</a>
        {% endif %}

        <form class="login mb-4 mt-4" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
            {% endif %}
            <a class="bg-black p-1 px-2" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            <button class="bg-darkblue p-1 px-2" type="submit">{% trans "Sign In" %}</button>
        </form>
    </div>

    <div class="col-lg-6 mb-4" id="all-auth-image-box">
        <img id="all-auth-image" src="{{ MEDIA_URL }}login-image.webp" class="w-100" alt="Headphones on a microphone">
    </div>
</div>

{% endblock %}
