{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block all_auth_header %}
<div class="row justify-content-center ">
    <div class="col-lg-6 align-items-center d-flex flex-column align-items-lg-start">
        <h1>{% trans "Sign Out" %}</h1>

        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form class="mb-4" method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <a class="bg-black p-1 px-2" href="{% url 'home' %}">{% trans 'No' %}</a>
        <button class="bg-darkblue p-1 px-2" type="submit">{% trans 'Yes' %}</button>
        </form>
    </div>

    <div class="col-10 col-lg-6 mb-4" id="all-auth-image-box">
        <img id="all-auth-image" src="{{ MEDIA_URL }}logout-image.webp" class="w-100" alt="Headphones on a microphone">
    </div>
</div>


{% endblock %}