{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block js %}
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/2e8f9e537f.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>Ascension {% block extra_title %}{% endblock %}</title>
  </head>

  <body>

    <header class="container-fluid fixed-top">
        <div id="topnav" class="row bg-dark pt-lg-2 d-none d-lg-flex border-bottom">
            <div class="col-12 col-lg-4"></div>
            <div class="col-12 col-lg-4 py-1 py-lg-0 my-1">
                <a class="logo" href="#">
                    <h1 class="text-center">ASCENSION</h1>
                </a>
            </div>
            <div class="col-12 col-lg-4 my-auto">
                <ul class="text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="nav-link text-center" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-user fa-lg text-white"></i>
                            {% if request.user.is_authenticated %}
                                <p class="my-0 text-white">{{ request.user.username }}</p>
                            {% else %}
                                <p class="my-0 text-white">My Account</p>
                            {% endif %}
                        </a>
                        <div class="dropdown-menu border-dark rounded-0" aria-labelledby="user-options">
                            <!-- Use jquery to make this slide down -->
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="#" class="dropdown-item">Manage Products</a>
                                {% endif %}
                                <a href="#" class="dropdown-item">My Profile</a>
                                <a href="#" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="#" class="dropdown-item">Register</a>
                                <a href="#" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="nav-link text-center" href="#">
                            <div><i class="fas fa-shopping-cart fa-lg text-white"></i></div>
                            <p class="my-0 text-white">
                                {% if grand_total %}
                                    £{{ grand_total|floatformat:2 }}
                                {% else %}
                                    £0.00
                                {% endif %}
                            </p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    {% if messages %}
        <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    <footer class="container-fluid fixed-bottom">
        <div id="footer" class="row bg-dark pt-2 d-flex border-top">
            <div class="col-12 col-lg-4">
                <p class="text-white footer-p">22 Ludgate Hill<br>Birmingham<br>B3 1DX</p>
            </div>
            <div class="col-12 col-lg-4 footer-p">
                <p class="text-white footer-p text-center">Copyright @ 2023 Ascension. All rights reserved.<br>0121 533 1234</p>
            </div>
            <div class="col-12 col-lg-4 text-white text-lg-right">
                <i class="fa-brands fa-facebook socials nav-link"></i>
                <i class="fa-brands fa-x-twitter socials nav-link"></i>
                <i class="fa-brands fa-instagram socials nav-link"></i>
            </div>
        </div>
    </footer>

  </body>
</html>
