{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/shop/css/shop.css' %}">
{% endblock %}

{% block content %}
    <div class="background-image">
        <div class="container header-container">
            <div class="row">
                <hr class="white-hr" id="top-hr">
                    <div id="page-heading" class="col text-center text-white">SHOP</div>
                <hr class="white-hr">
            </div>
        </div>
        <div id="about-box" class="container col-8 text-center pt-3">
            <div class="row text-white ml-1 mr-1 justify-content-center">
                <p>Visit the web version of our little store, full of the essentials when visiting our studios.</p>
                <p>From guitar strings to notepads and pens we have everything you could need, or may have left at home!</p>
                <p>Simply order online and collect when you visit!</p>
            </div>
        </div>
    </div>
    <div class="container header-container">
        <div class="row">
            <hr>
                <div id="page-heading" class="col text-center">ORDER THE ESSENTIALS</div>
            <hr>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <p>Visit the store today!</p>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <div class="col-12 col-lg-8">
            <div class="row">
                <div class="col-4 text-center h-100">
                    <div class="index-button-box m-auto">
                        <a href="{% url 'products' %}?category=capos" class="h-100 w-100 d-block shop-buttons text-white">
                            <p class="mb-2 pt-2">Capos</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 text-center h-100">
                    <div class="index-button-box m-auto">
                        <a href="{% url 'products' %}?category=guitar_strings" class="h-100 w-100 d-block shop-buttons text-white">
                            <p class="mb-2 pt-2">Strings</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 text-center h-100">
                    <div class="index-button-box m-auto">
                        <a href="{% url 'products' %}?category=drum_sticks" class="h-100 w-100 d-block shop-buttons text-white">
                            <p class="mb-2 pt-2">Drum Sticks</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
