/* Connection Confirmed */

#submit-button {
    border: none;
}

.save-info-box {
    margin-right: 3.3%;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #033A54;
  border-radius: 0px;
  background-color: white;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

#successful-back-to {
    width: fit-content;
    margin: auto;
}

.background-image {
    background: url('/media/shop-main.webp') no-repeat center top;
    width: 100%;
    height: 700px;
    border-bottom: 1px solid white;
    background-size: 100%;
}

#loading-overlay {
    background-color: rgb(3, 58, 84, 0.8);
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 25%;
}

.fa-spinner {
    color: white;
    display: flex !important;
    justify-content: center;
}

.white-hr {
    color: white !important;
    border-top: 1px solid rgb(255,255,255,0.1) !important;
}

#about-box {
    margin-top: 120px;
    background-color: rgb(3, 58, 84, 0.8);
    border: none;
    border-radius: 0;
}

.index-button-box {
    border: 2px solid white;
    width: 200px;
    height: 70px;
    background-color: #033A54;
    font-size: 32px;
}

.shop-buttons {
    padding-top: 11px;
    font-size: 16px;
    border: 2px solid #033A54;
}

.shop-buttons:hover {
    text-decoration: none;
    color: #033A54 !important;
    background-color: white;
    border: 2px solid #033A54;
}

.StripeElement--invalid {
    border: 1px solid #dc3545;
}

.StripeElement--complete {
    border: 1px solid #28a745;
}

.StripeElement--webkit-autofill {
  background-color: #BDEFCB !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}