/* Extra Large Screens */

@media (min-width: 1501px) {
    .background-image {
        background-size: 100% !important;
    }
}

/* Large Screens */

.background-image {
    background: url('/media/recording-studio-main.webp') no-repeat center top;
    width: 100%;
    height: 700px;
    border-bottom: 1px solid white;
    background-size: 1500px;
} 

.record-button-box {
    border: 2px solid white;
    width: fit-content;
    font-size: 18px;
}

.engineer-button-box {
    width: 150px;
}

.artist {
    width: 300px;
}

#record-box {
    background-color: rgb(3, 58, 84, 0.8);
    border: none;
    border-radius: 0;
    position: absolute;
}

#record-row {
    height: 67.7%;
}

.header-container {
    height: 700px;
}

/* Medium & Large Screens */

@media (min-width: 768px) and (max-width: 991px) {
    .background-image {
        background: url('/media/recording-studio-main.webp') no-repeat center top;
        width: 100%;
        height: 500px;
        border-bottom: 1px solid white;
        background-size: 991px;
    }
    #record-row {
        height: 45.7% !important;
    }
    #record-box {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    #record-two-info-box {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        flex-direction: column;
    }
    #record-one, #record-three {
        float: right;
    }
    .engineers {
        height: 300px;
    }
}

/* Mobile Screens */

@media (max-width: 767px) {
    .artist-image-box {
        justify-content: center;
        display: flex;
    }
    .record-one-row, .record-three-row {
        flex-direction: column;
    }
    .record-two-row {
        flex-direction: column-reverse;
    }
    .artist-name {
        text-align: center;
    }
    .record-button-box {
        font-size: 16px !important;
    }
    .engineer-button-box {
        margin: auto;
    }
    .engineers {
        width: 300px;
    }
    .background-image {
        background: url('/media/recording-studio-main.webp') no-repeat center top;
        width: 100%;
        height: 500px;
        border-bottom: 1px solid white;
        background-size: 768px;
    }
    #record-row {
        height: 40.7% !important;
    }
    #record-box {
        font-size: 12px;
    }
}
