{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/add_products.css' %}">
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row" id="top-row">
            <hr>
                <div id="page-heading" class="col text-center">ADD A PRODUCT</div>
            <hr>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data" class="mb-3">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <a class="bg-black p-1 px-2" href="{% url 'products' %}">Cancel</a>
                    <button class="bg-darkblue p-1 px-2" type="submit">Add Product</button>
                </form>
            </div>
            <div class="col-lg-6 mb-4" id="manage-products-image-box">
                <img id="manage-image-one" src="{{ MEDIA_URL }}add-product-one.webp" class="w-100 mb-2 d-none d-lg-block" alt="Headphones on a microphone">
                <img id="manage-image-two" src="{{ MEDIA_URL }}add-product-two.webp" class="w-100 mt-2 d-none d-lg-block" alt="Headphones on a microphone">
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document
            .getElementById("id_striked_price")
            .addEventListener("change", function () {
                if (this.value == "") {
                    document.getElementById('id_is_offers_item').value = 'false';
                } else {
                    document.getElementById('id_is_offers_item').value = 'true';
                }
            });
        document
            .getElementById("id_category")
            .addEventListener("change", function () {
                if (this.value == "7") {
                    document.getElementById('id_is_hire_room').value = 'true';
                } else if (this.value == "8") {
                    document.getElementById('id_is_hire_room').value = 'true';
                } else {
                    document.getElementById('id_is_hire_room').value = 'false';
                }
            });
    });
</script>

{% endblock %}