{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/products/css/add_products.css' %}">
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row" id="top-row">
            <hr>
                <div id="page-heading" class="col text-center">ADD A PRODUCT</div>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data" class="mb-3">
                {% csrf_token %}
                {{ form | crispy }}
                <a class="bg-black p-1 px-2" href="{% url 'products' %}">Cancel</a>
                <button class="bg-darkblue p-1 px-2" type="submit">Add Product</button>
            </form>
        </div>
    </div>
{% endblock %}