{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/products/css/add_products.css' %}">
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <hr class="white-hr" id="top-hr">
                <div id="page-heading" class="col text-center">EDIT A PRODUCT</div>
            <hr class="white-hr">
        </div>
    </div>

    <form method="POST" action="{% url 'edit_product' %}">
        {% csrf_token %}
        <select name="product-id" id="product-id" class="ml-3 mb-3 mr-2 p-1 rounded-0">
            <option value="None">Pick an item</option>
            {% for item in products %}
                <option value="{{ item.name }}">{{ item.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" id="invisible-toggler" class="main-button px-1">Search</button>
    </form>

    <div class="row" id="invisible-form">
        <div class="col-6">
            <form method="POST" action="{% url 'edit_product' %}" enctype="multipart/form-data" class="mb-3">
                {% csrf_token %}
                {{ form | crispy }}
                <a href="{% url 'products' %}" class="other-button px-1">Cancel</a>
                <button type="submit" class="main-button px-1">Edit Product</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
    if (document.getElementById('id_name').value != "") {
        document.getElementById('invisible-form').style.display = "block";
        document.getElementById('product-id').value = document.getElementById('id_name').value
    } else {
        document.getElementById('invisible-form').style.display = "none";
    }
});
</script>
{% endblock %}