{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/products/css/add_products.css' %}">
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <hr class="white-hr" id="top-hr">
                <div id="page-heading" class="col text-center">EDIT A PRODUCT</div>
            <hr class="white-hr">
        </div>
    </div>

    <form method="POST" action="{% url 'edit_product' %}">
        {% csrf_token %}
        <div class="col-6">
            <select name="product-id" id="product-id" class="mb-3 p-1 rounded-0 col-10">
                <option value="None">Pick an item</option>
                {% for item in products %}
                    <option value="{{ item.name }}">{{ item.name }}</option>
                {% endfor %}
            </select>
            <button type="submit" id="invisible-toggler" class="bg-darkblue p-1 px-2">Search</button>
        </div>
    </form>

    <div class="row" id="invisible-form">
        <div class="col-6">
            <form method="POST" action="{% url 'edit_product' %}" enctype="multipart/form-data" class="mb-3">
                {% csrf_token %}
                {{ form | crispy }}
                <a href="{% url 'products' %}" class="bg-black p-1 px-2">Cancel</a>
                <button type="submit" class="bg-darkblue p-1 px-2">Edit Product</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if (document.getElementById('id_name').value != "") {
            document.getElementById('invisible-form').style.display = "block";
            document.getElementById('product-id').value = document.getElementById('id_name').value
        } else {
            document.getElementById('invisible-form').style.display = "none";
        }
    });
</script>
{% endblock %}