{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row" id="top-row">
            <hr>
                <div id="page-heading" class="col text-center">PRODUCT INFO</div>
            <hr>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container col-sm-8">
    <div class="row prod-info-row">
            <div class="my-2 col-12 col-lg-6 justify-content-center product-image-box">

                {% if images %}
                    <div class="slideshow-container">
                    {% for image in images %}
                        <div class="mySlides fade">
                            <img src="{{ MEDIA_URL }}{{ image }}" class="slideshow-image" alt="{{ product.name }}">
                        </div>
                    {% endfor %}
                    {% if images|length == 1 %}
                        </div>
                        <br>
                    {% else %}
                            <!-- Left and Right Buttons -->
                            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                            <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        </div>
                        <br>
                    {% endif %}

                    <!-- Dots -->
                    {% if images|length == 1 %}
                    {% else %}
                        <div class="text-center dots">
                            {% for image in images %}
                                    <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>
                            {% endfor %}
                        </div>
                    {% endif %}
                        
                {% else %}
                    <img class="no-image my-1 pb-4" src="{{ MEDIA_URL }}no-image.png" alt="{{ product.name }}">
                {% endif %}
            </div>
            <small id="product-information-small" class="d-flex justify-content-center">
                {% if request.user.is_superuser %}
                <a class="edit-button mr-2" href="{% url 'edit_product' %}?product={{ product.id }}">Edit</a>
                <button type="button" class="delete-button ml-2" data-toggle="modal" data-target="#deleteProduct">
                    Delete
                </button>
                {% endif %}
                
                <div class="modal fade" id="deleteProduct" tabindex="-1" role="dialog" aria-labelledby="deleteProductLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="deleteProductLabel">Delete Product</h5>
                          <button type="button" class="close mr-2" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p>Are you sure you want to delete this product?</p><p>This action cannot be undone.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn bg-black rounded-0" data-dismiss="modal">Close</button>
                          <a class="delete-inmodal-button ml-2" href="{% url 'delete_product' product_id=product.id %}">Delete</a>
                        </div>
                      </div>
                    </div>
                  </div>
            </small>
            <div class="product-infopage-info px-3 col-12 col-lg-6">
                <p class="product-small-central mb-0">{{ product.name }}</p>
                <p class="mb-0 italic product-small-central">{{ product.category.friendly_name }}</p>
                <h3 class="product-small-central">£{{ product.price }}{% if product.striked_price %} (<s>{{ product.striked_price }}</s>) {% endif %}</h3>
                <p class="product-small-central">Rating: {{ product.rating }}/5 ({{ product.amount_of_reviews }}) Sold: {{ product.amount_sold }}</p>
                <p class="my-2">{{ product.description }}</p>
            {% if product.is_hire_room == True %}
                <div class="hire-room">
                    {% if product.id == 27 %}
                        <a class="eq bg-darkblue p-1 px-2" href="{% url 'rehearse_home' %}#r-r-1">Equipment Provided</a>
                    {% elif product.id == 28 %}
                        <a class="eq bg-darkblue p-1 px-2" href="{% url 'rehearse_home' %}#r-r-2">Equipment Provided</a>
                    {% elif product.id == 29 %}
                        <a class="eq bg-darkblue p-1 px-2" href="{% url 'rehearse_home' %}#r-r-3">Equipment Provided</a>
                    {% else %}
                    {% endif %}
                    <form action="{% url 'alter_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div>
                            <p class="mb-1 mt-3">Book Session</p>
                            <input name="date" id="date" class="mb-2" type="date">
                        </div>
                        <div class="timeline">
                            {% for time in sessions %}
                                    <span class="span-no-break"><input id="{{ time }}" class="radio" type="radio" name="time" variable="1"><p class="timeline-button mb-0"> {{ time }}</p></span>
                            {% endfor %}
                            <p id="no-radios">Please choose a date.</p>
                        </div>
                        <input type="hidden" id="chosen-time" name="chosen-time" value="none">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <input value="1" class="quantity-box d-none" type="number" min="1" max="99" name="quantity">
                        <button name="add-session" type="submit" class="btn bg-darkblue rounded-0 ml-1 p-1 px-2 mb-4">Add<p id="to-cart"> to cart</p></button>
                    </form>
                </div>
            {% else %}
                <form action="{% url 'alter_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="mt-2 mb-3 prod-info-btns d-flex">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% if stringed_product_id in request.session.cart.keys %}
                        <a id="back-to-products" class="bg-black rounded-0 p-1 px-2 d-flex mr-1" href="{% url 'products' %}"><p class="mb-1 back-mark">&#60;</p> <p id="back" class="d-inline mb-0">Back </p><p class="mb-0 d-none d-md-inline ml-1">to Products</p></a>
                        <div class="col d-flex flex-column flex-quantity">
                            <div class="row">
                                <div id="info-quantity" class="quantity-box-information mb-2">
                                    <button class="input-group-prepend btn btn-sm btn-black rounded-0" name="decrease-quantity">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <input class="quantity-middle" value="{{ item_quantity }}" type="number" min="1" max="99" name="quantity">
                                    <button class="input-group-append btn btn-sm btn-black rounded-0" name="increase-quantity">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <button id="remove_all_of_item_product_info" name="remove_all_of_item_product_info">Remove all</button>
                            </div>
                        </div>
                    </div>
                </form>
                        {% else %}
                        <input value="1" class="quantity-box d-none" type="number" min="1" max="99" name="quantity">
                        <a id="back-to-products" class="bg-black rounded-0 p-1 px-2 d-flex mr-1" href="{% url 'products' %}"><p class="mb-1 back-mark">&#60;</p> <p id="back" class="d-inline mb-0">Back </p><p class="mb-0 d-none d-md-inline ml-1">to Products</p></a>
                        <button name="add-quantity" type="submit" class="btn bg-darkblue rounded-0 ml-1 p-1 px-2 mb-4">Add<p id="to-cart"> to cart</p></button>
                    </div>
                </form>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<input type="hidden" id="refreshed" value="false">
<script type="text/javascript">
    $(window).on('load', function(){
        if ($('#refreshed').val() == "false") {
        $('#refreshed').val("true"); 
        }
        else {
        $('#refreshed').val("false");
        location.reload(true);
        }
    });
</script>

{% endblock %}
{% block postloadjs %}
{{ block.super }}
<!-- Written by me! -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        radioShow();
    });
    document.addEventListener("change", function () {
        radioShow();
    });
    var radios = document.getElementsByClassName('radio');
    for (let radio of radios) {
        radio.addEventListener("click", function () {
            document.getElementById('chosen-time').value = radio.id;
        });
    };
    function radioShow() {
        if (document.getElementById('date').value == "") {
            let times = document.getElementsByClassName('radio')
            for (i = 0; i < times.length; i++) {
                times[i].style.display = 'none';
            }
            let para = document.getElementsByClassName('timeline-button')
            for (i = 0; i < para.length; i++) {
                para[i].style.display = 'none';
            }
            let noRadios = document.getElementById('no-radios')
            noRadios.style.display = 'block';
        } else if (document.getElementById('date').value != "") {
            let times = document.getElementsByClassName('radio')
            for (i = 0; i < times.length; i++) {
                times[i].style.display = 'inline';
            }
            let para = document.getElementsByClassName('timeline-button')
            for (i = 0; i < para.length; i++) {
                para[i].style.display = 'inline';
            }
            let noRadios = document.getElementById('no-radios')
            noRadios.style.display = 'none';
        }
    }
    // Taken from W3Schools
    let slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
    showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
    showSlides(slideIndex = n);
    }

    function showSlides(n) {
    let i;
    let slides = document.getElementsByClassName("mySlides");
    let dots = document.getElementsByClassName("dot");
    if (n > slides.length) {slideIndex = 1}
    if (n < 1) {slideIndex = slides.length}
    for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
    }
    for (i = 0; i < dots.length; i++) {
        dots[i].className = dots[i].className.replace(" active", "");
    }
    slides[slideIndex-1].style.display = "flex";
    dots[slideIndex-1].className += " active";
    }
</script>

{% endblock %}