{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static '/products/css/products.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <hr id="top-hr">
                <div id="page-heading" class="col text-center">PRODUCTS</div>
            <hr>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container" id="select_container">
    <div class="row float-right">
        <select class="rounded-0" id="products-filter">
            <option value="no_filter" {% if current_sort == 'None_None' %}selected{% endif %}>Choose Filter</option>
            <option value="price_high_to_low" {% if current_sort == '-price_desc' %}selected{% endif %}>Price High to Low</option>
            <option value="price_low_to_high" {% if current_sort == 'price_asc' %}selected{% endif %}>Price Low to High</option>
            <option value="rating_high_to_low" {% if current_sort == '-rating_desc' %}selected{% endif %}>Rating High to Low</option>
            <option value="rating_low_to_high" {% if current_sort == 'rating_asc' %}selected{% endif %}>Rating Low to High</option>
            <option value="all">All Products</option>
        </select>
    </div>
</div>
<div class="container">
    <div class="row">
        {% for product in products %}
            <div class="col-sm-6 col-lg-4 col-xl-3 product">
                <a href="{% url 'product_information' product_id=product.pk %}" class="card my-2 rounded-0">
                    {% if product.main_image %}
                        <div class="product-image-box px-auto mx-auto">
                            <img class="product-image my-1" src="{{ MEDIA_URL }}/{{ product.main_image }}" alt="{{ product.name }}">
                        </div>
                    {% elif product.image %}
                        <div class="product-image-box px-auto mx-auto">
                            <img class="product-image my-1" src="{{ MEDIA_URL }}/{{ product.image }}" alt="{{ product.name }}">
                        </div>
                    {% else %}
                    {% endif %}
                    <div class="product-title px-3">
                        {{ product.name }}
                    </div>
                    <div class="product-info px-3">
                        <br>
                        {{ product.category.friendly_name }}
                        <br>
                        <h3>£{{ product.price }}{% if product.striked_price %} (<s>{{ product.striked_price }}</s>) {% endif %}</h3>
                        {{ product.rating }}/5 ({{ product.amount_of_reviews }})
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block postloadjs %}
    <script rel="text/javascript" src="{% static '/products/js/products.js' %}"></script>
{% endblock %}
